{% extends "layout.html" %}

{% block content %}
<header class="intro_head">
    <h1 class="tile">
        FEA Request Data
    </h1>
    <p class="title__decsription">
        Add data for the countermeasure applied to model <br>

    </p>
</header>
<div class="cmRequest">
    <div class="cmData">
            <h3>CounterMeasure Info</h3>

            <label for="dateSub"> Date sent:  </label>
            <input id= "dateSub"type="text">
    
            <label for="cmName"> CM model Name: </label>
            <input id= "cmName"type="text">
    
            <label for="baseName"> Base model Name: </label>
            <input id= "baseName"type="text">
    
            <label for="partChange"> Part update:  </label>
            <input id= "partChange"type="text">
    
            <label for="analysisPer"> Anlysis Perform:  </label>
            <input id= "analysisPer"type="text">
    
            <label for="modelDescp"> Why model need change:  </label>
            <input id= "modelDescp"type="text">
            <div class= "interaction">
                <button class = "button-submit" id= "save">Save</button>
                <button class = "button-clear" id= "clear">Clear</button>
            </div>
        </div>

    </div>
{% endblock %}